<div class="row">
  <div class="col-sm-12">
    <h2>Add Players</h2>
  </div>
  <div class="col-sm-6 table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Player</th>
          <th>Team</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="invitation in invitations">
          <th>{{invitation.player.name}}</th>
          <th>{{invitation.team.name}}</th>
          <th>
            <span class="glyphicon glyphicon-ok" ng-click="accept(invitation)"></span>
            <span class="glyphicon glyphicon-remove" ng-click="reject(invitation)"></span>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
</div>
