<div class="row">
  <div class="col-sm-12">
    <h2>Create Company</h2>
  </div>
  <div class="col-sm-6">
    <form name="formCompany" novalidate role="form">
      <div class="form-group">
        <label for="companyName">Company Name:</label>
        <input id="companyName" type="text" class="form-control" ng-model="company.name"/>
      </div>
      <div class="form-group">
        <label for="companyLocation">Company Location:</label>
        <input id="companyLocation" type="text" class="form-control" ng-model="company.location"/>
      </div>
      <div class="form-group">
        <label for="companyFields">Company Fields:
          <span ng-if="company.fields.length==0" class="glyphicon glyphicon-plus" ng-click="addField()"></span>
        </label>
      </div>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>A/A</th>
              <th>Name</th>
              <th>Size</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="field in company.fields">
              <td>{{$index}}</td>
              <td><input type="text" id="{{'fieldName_'+$index}}" class="form-control" ng-model="field.name"/></td>
                <td><input type="number" id="{{'fieldSize'+$index}}" class="form-control" ng-model="field.size"/></td>
              <td>
                <span class="glyphicon glyphicon-plus" ng-click="addField()"></span>
                <span class="glyphicon glyphicon-minus" ng-click="deleteField(field)"></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="form-group">
        <button name="createCompany" class="btn btn-primary pull-right" ng-click="createCompany()">Create</button>
      </div>
    </form>
  </div>
</div>
