<div class="row">
  <div class="col-sm-12">
    <h2>Update Company</h2>
  </div>
  <div class="col-sm-6">
    <form name="formCompany" role="form" novalidate>
      <div class="form-group">
        <label for="companyName">Company Name:</label>
        <input id="companyName" type="text" class="form-control" ng-model="company.name"/>
      </div>
      <div class="form-group">
        <label for="companyLocation">Company Location:</label>
        <input id="companyLocation" type="text" class="form-control" ng-model="company.location"/>
      </div>
      <div class="form-group">
        <label for="companyFields">Company Fields:
          <span ng-if="company.fields.length==0" class="glyphicon glyphicon-plus" ng-click="addField()"></span>
        </label>
      </div>
      <div ng-repeat="field in company.fields" class="form-group">
        <input id="{{'fieldName_'+field.id}}" ng-model="field.name" />
        <input id="{{'fieldId_'+field.id}}" type="number" ng-model="field.id"/>
        <span class="glyphicon glyphicon-plus" ng-click="addField()"></span>
        <span class="glyphicon glyphicon-minus" ng-click="deleteField(field)"></span>
      </div>
      <div class="form-group">
        <button name="updateCompany" class="btn btn-primary pull-right" ng-click="updateCompany()">Update</button>
      </div>
    </form>
  </div>
</div>
