<div class="row">
  <div class="col-sm-12">
    <h2>User Home</h2>
  </div>
  <div class="col-sm-6 col-sm-offset-3 table-responsive">
    <table class="table table-hover">
      <caption>Team Needed</caption>
      <thead>
        <tr>
          <th>Team</th>
          <th>Players</th>
          <th>Field</th>
          <th>Day</th>
          <th>Time</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="post in gamePosts">
          <td>{{post.team.name}}</td>
          <td>{{post.team.players.length}}</td>
          <td>{{post.field.name}}</td>
          <td>{{post.day}}</td>
          <td>{{post.time}}</td>
          <td>
            <span class="glyphicon glyphicon-play" ng-click="play(post)"></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-6 col-sm-offset-3 table-responsive">
    <table class="table table-hover">
      <caption>Player Needed</caption>
      <thead>
        <tr>
          <th>Team</th>
          <th>Players</th>
          <th>Field</th>
          <th>Day</th>
          <th>Time</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="post in playerPosts" ng-if="post.joined===undefined">
          <td>{{post.team.name}}</td>
          <td>{{post.playersNeeded}}</td>
          <td>{{post.field.name}}</td>
          <td>{{post.day}}</td>
          <td>{{post.time}}</td>
          <td>
            <span class="glyphicon glyphicon-ok" ng-click="join(post)"></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
