<div class="row">
  <div class="col-sm-12">
    <h2>Play Game Invitations</h2>
  </div>
  <div class="col-sm-6 table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Index</th>
          <th>Team</th>
          <th>Field</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="invitation in gameInvitations">
          <td>{{$index}}</td>
          <td>{{invitation.team.name}}</td>
          <td>{{invitation.gamePost.field.name}}</td>
          <td>
            <span class="glyphicon glyphicon-ok" ng-click="accept(invitation)"></span>
            <span class="glyphicon glyphicon-remove" ng-click="decline(invitation)"></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
