<div class="row">
  <div class="col-sm-12">
    <h2>Players</h2>
  </div>
  <div class="col-sm-6 table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Player</th>
          <th>Position</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="player in players">
          <td>{{player.id}}</td>
          <td>{{player.name}}</td>
          <td>{{player.positions[0].label}}</td>
          <td><span class="glyphicon glyphicon-edit" ng-click='editPlayer(player)'></span>
          <span class="glyphicon glyphicon-trash" ng-click='deletePlayer(player)'></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-12 col-sm-offset-4">
    <span class="btn btn-primary" ng-click="createPlayer()">
      <span class="glyphicon glyphicon-plus"></span>Add Player
    </span>
  </div>
</div>
