<div class="row">
  <div class="col-sm-12">
    <h2>Team: <b>{{name}}</b></h2>
  </div>
  <div class="col-sm-12">
    <form name="formTeam" novalidate class="row">
      <input type="hidden" ng-model="formTeam.id" value="{{selectedTeam.id}}"/>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="teamName" class="control-label">Team name</label>
          <input id="teamName" ng-model="selectedTeam.name" class="form-control"/>
        </div>
        <div class="form-group">
          <label for="teamLocation" class="control-label">Team location</label>
          <input id="teamLocation" ng-model="selectedTeam.location" class="form-control"/>
        </div>
        <div class="form-group">
          <label>Players: </label>
        </div>
        <button class="btn btn-primary pull-right" ng-click="updateTeam()">Update</button>
      </div>
    </form>
  </div>
</div>
