<div class="row">
  <div class="col-sm-12">
    <h2>Team: {{team.name}}</h2>
  </div>
  <div class="col-sm-2">
    <form name="formPlayersNeeded" novalidate role="form">
      <div class="form-group">
        <label for="numberOfPlayersNeeded">How many players needed?</label>
        <input id="numberOfPlayersNeeded" class="form-control" type="number" ng-model="post.playersNeeded"/>
      </div>
      <div class="form-group">
        <label for="gameField">Field:</label>
        <input id="gameField" class="form-control" type="text" ng-model="post.field.id"/>
      </div>
      <div class="form-group">
        <label for="gameDate">Date:</label>
        <input id="gameDate" class="form-control" type="text" ng-model="post.day"/>
      </div>
      <div class="form-group">
        <label for="gameTime">Time:</label>
        <input id="gameTime" class="form-control" type="text" ng-model="post.time"/>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" ng-click="update()">Update</button>
      </div>
    </form>
  </div>
  <div class="col-sm-6 table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Number</th>
          <th>Name</th>
          <th>Position</th>
          <th>Available</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="player in team.players">
          <td>{{player.number}}</td>
          <td>{{player.name}}</td>
          <td>{{player.positions[0].label}}</td>
          <td>{{player.available()}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-4">
    <div class="col-sm-12">
      <a ng-click="viewPlayGameInvitations()">Play game invitations: <span class="badge">{{playGameInvitations}}</span></a>
    </div>
    <div class="col-sm-12">
      <a ng-click="viewPlayerInvitations()">Player invitations: <span class="badge">{{playerInvitations}}</span></a>
    </div>
  </div>
  <div class="col-sm-2">
    <form name="formGame" novalidate role="form">
      <div class="form-group">
        <label for="companyName">Company:</label>
        <select ng-model="company.id" ng-option="company.name for company in companies track by company.id"></select>
      </div>
    </form>
  </div>
</div>
